/* ---------- body ---------- */
/* polices du site */
body {
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0;
}

/* aspect des liens par defaut */
a {
	text-decoration: none;
	color: black;
}

/* taille des titres */
h1 {
	font-size: 1.2em;
}

h2 {
	font-size: 1.1em;
}

/* taille autres textes */
h3, p, span, a {
    font-size: 1em;
}

/* ---------- header ---------- */
header {
    width: 90%;
    margin: 20px auto;
}

#navbar1 {
    display: flex;
}

nav {
    flex-basis: 100%;
}

ul {
  list-style: none;
}

nav ul {
    display: flex;
    float: right;
}

nav li {
    align-content: center;
}

nav a {
	padding: 30px 30px;
}

nav a:hover, a:active {
  	border-top: medium solid #0065fc;
  	color: #0065fc;
}

#inscription a {
    color: #0065fc;
    font-weight: bold;
    padding: 30px 30px;
    vertical-align: middle;
    text-align: center;
}

#inscription a:hover, a:active {
    border-top: medium solid #0065fc;
}

#navbar2 {
    display: none;
}

/* responsive design navbar */
/* extra small devices (phones) */
@media only screen and (max-width: 600px) {
    #navbar1 {
        display: none;
    }

    #navbar2 {
        display: flex;
        flex-wrap: wrap;
    }
    
    #logo_inscription {
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;
        align-items: center;
    }

    #inscription {
        text-align: right;
        font-weight: bold;
        color: #0065fc;
    }
        
    #nav {
        display: flex;
        flex-basis: 100%;
        width: 100%;
        height: 50px;
        align-items: center;
        margin-bottom: 15px;
    }

    #nav a {
        width: 50%;
        text-align: center;
        padding: 15px 0;
    }

    #nav a:hover, a:active {
        border-top: none;
        border-bottom: medium solid #0065fc;
        color: #0065fc;
    }
}

/* ---------- main ---------- */
main {
    width: 90%;
    margin: auto;
}

/* ---------- section_1_recherche ----------*/
#searchbar1 {
    display: inline-flex;
    max-width: 600px;
    position: relative;
    align-items: center;
}

.fa-map-marker-alt {
    background-color: #f2f2f2;
    padding: 15px;
    font-size: relative-size;
    border: thin #f2f2f2 solid;
    border-radius: 15px 0 0 15px;
}

#champ {
    border-color: #f2f2f2;
    font-weight: bold;
}

[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    border: thin #f2f2f2 solid;
    padding: 15px;
    margin-left: 0;
}

#searchbar2 {
    display: none;
}

/* comment supprimer la marge entre le champ et le bouton ? */
#bouton {
     margin-left: 0;
     padding: 15px;
     background-color: #0065fc;
     color: white;
     text-align: center;
     border: thin #0065fc solid;
     border-radius: 0 15px 15px 0;
}

#bouton:active {
    background-color: grey;
}

#bouton:hover {
    box-shadow: 0 0 5px grey;
}

#filtres {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

#filtres_titre {
    padding-right: 10px;
    line-height: 10px;
}
#filtres p {
    vertical-align: middle;
    padding-right: 10px;
}

.selection {
    display:flex;
    align-items: center;
    margin-right: 15px;
    padding-right: 15px;
    border: 1px lightgrey solid;
    border-radius: 70px;
    font-weight: bold;
    height: 40px;
}

.selection:hover, :active {
    color: #0065fc;
}

.selection i {
    font-size: 1em;
    color: #0065fc;
    background-color: #deebff;
    border: 1px #deebff solid;
    border-radius: 50%;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    margin-left: -1px;
    margin-right: 7px;
    line-height: 40px;    
}

.selection i:hover, :active {
    background-color: #0065fc;
    color: white;
    border: 1px #0065fc solid;
}

#resultat {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#resultat img {
    width: 30px;
    padding-right: 5px
}

.fa-info-circle {
    color: #0065fc;
    padding-right: 5px;
}

/* responsive design filtres */
/* medium devices (phones to large phones and portrait tablets) */
@media only screen and (max-width: 768px) {

    #searchbar1 {
        display: none;
    }

    #searchbar2 {
        display: inline-flex;
        max-width: 500px;
        position: relative;
        align-items: center;
    }
    
    #searchbox {
        display: none;
    }

    #filtres {
        flex-wrap: wrap;
        align-content: space-around;
    }
    
    #filtres_titre {
        display: flex;
        width: 100%;
        font-weight: bold;
    }

    .selection {
        margin: 10px 5px;
    }
}

/* ---------- section_2_hebergements ---------- */
#section_hebergements {
    display: flex;
    justify-content: space-between;
}

#resultats_hebergements {
    width: 80%;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
}

#resultats_hebergements h1, h3 {
    padding-left: 25px;
}

#hebergements_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hebergement_card {
    width: 230px;
    height: 190px;
    background-color: white;
    border-radius: 25px;
    border: thick white solid;
    box-shadow: 0 0 10px lightgrey;
    margin: 10px; auto;
}

.hebergement_card:hover {
    box-shadow: 0 0 10px grey;
}

.hebergement_card img {
    width: 230px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.descriptif_h {
    margin-top: 0;
    padding: 0 0 15px 5px;
    line-height: 0.2em;
    font-size: 0.9em;
}

#resultats_populaires {
    width: 40%;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 25px;
    margin-left: 35px;
    justify-content: center;
}

#resultats_populaires h1 {
    padding-left: 50px;
}

.fa-chart-line {
    float: right;
    padding-right: 50px;    
}

#populaires_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.populaire_card {
    width: 350px;
    height: 150px;
    background-color: white;
    border-radius: 25px;
    border: thick white solid;
    box-shadow: 0 0 10px lightgrey;
    margin: 15px auto;
}

.populaire_card:hover {
    box-shadow: 0 0 10px grey;
}

.populaire_card img {
    width: 40%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    float: left;
    margin-right: 10px;
}

.descriptif_p {
    font-size: 0.9em;
}

/* comment aligner les icones etoiles en bas du container ? */
.populaire_icons {
    /*padding-top: 30px;*/
}

.hebergement_card i, .populaire_card i {
    color: #0065fc;
}

/* responsive design hebergements */
/* extra small devices (phones) */
@media only screen and (max-width: 425px) {
    #section_hebergements {
        display: flex;
        flex-direction: column-reverse;
    }

    #resultats_hebergements, #resultats_populaires {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding: 0;
        padding-top: 25px;
        padding-bottom: 25px;
        border-radius: 0;
    }

    #resultats_hebergements {
        background-color: white;
    }
   
    #hebergements_container {
        width: 100%;
    }

    #populaires_container {
        width: 100%;
        padding: 15px 0;
    }

    .hebergement_card {
        width: 100%;
        height: auto;
        margin: 10px;
    }

    .hebergement_card img {
        width: 100%;
    }

    .populaire_card {
        width: 90%;
        height: auto;
        margin: 10px
    }

    .populaire_card img {
        width: 40%;
    }
}

/* responsive design hebergements */
/* medium devices (large phones and portrait tablets) */
@media only screen and (min-width: 426px) and (max-width: 768px) {
    #section_hebergements {
        display: flex;
        flex-direction: column-reverse;
    }

    #resultats_hebergements, #resultats_populaires {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding: 0;
        padding-top: 25px;
        padding-bottom: 25px;
        border-radius: 0;
    }

    #resultats_hebergements {
        background-color: white;
    }

/* responsive design hebergements */
/* large devices (landscape tablets, laptops, desktops) */
/* A CORRIGER - LES PARAMETRES NE FONCTIONNENT PAS */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #resultats_hebergements {
        width: 65%;
        background-color: white;
        border-radius: 25px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin-right: 0;
    }

    #resultats_populaires {
        width: 25%;
        background-color: #f2f2f2;
        border-radius: 25px;
        padding: 0;
        margin-left: 0;
        justify-content: center;
    }
    
    #resulats_populaires h1 {
         padding-left: 10px;
         font-size: 0.8em;
    }

    .fa-chart-line {
        padding-right: 10px;
    }

    .populaire_card {
        width: 230px;
        height: 190px;
        background-color: white;
        border-radius: 25px;
        border: thick white solid;
        box-shadow: 0 0 10px lightgrey;
        margin: 10px; auto;
    }

    .populaire_card img {
        width: 230px;
        height: 120px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    .descriptif_p {
        margin-top: 0;
        padding: 0 0 15px 5px;
        line-height: 0.2em;
        font-size: 0.9em;
    }    
}

/* ---------- section_3_activites ---------- */
#resultats_activites {
    margin: 50px;
}

#activites_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.suggestion {
    height: fit-content;
    overflow: auto;
    border-radius: 20px;
    box-shadow: 0 0 5px lightgrey;
    padding-bottom: 5px;
}

.suggestion h2 {
    margin-left: 10px;
    font-size: 1vw;
}

.suggestion:hover {
    box-shadow: 0 0 10px grey;
}

.suggestion img {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.suggestion_small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* responsive design activites */
/* extra small devices (phones) */
/*@media only screen and (max-width: 425px) {
    #resultats_activites {
        margin: 30px;
    }

    #activites_container {
        margin-top: 15px;
    }
    .style {
        display: none;
    }    

    .suggestion, .suggestion_small {
        width: 100%;
        height: 375px;
    }

    .suggestion img, .suggestion_small img {
        width: 100%;
        height: 300px;
    }
}*/

/* ---------- footer ---------- */
footer {
    margin-top: 50px;
    /*position fixe ?*/
}

#footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding: 30px 40px;
}

#footer_container ul {
	text-align: left;
    padding: 0;
    line-height: 1.6;
}

.footer_children {
    flex-basis: 30%;
    margin: 10px;
}

/* responsive design footer */
/* ATTENTION PLUS DE STYLES A PARTIR DE 768px */
/* extra small to small devices (phones to large phones and portrait tablets) */
@media only screen and (max-width: 600px) {
    #footer_container {
        padding: 20px 30px;
    }

    #footer_container ul {
        line-height: 1.4;
        margin: 0;
    }

    .footer_children {
        flex-basis: 100%;
        justify-content: center;
        box-sizing: border-box;
        margin: 5px;
    }

    #footer_children h2 {
        margin-block-start: 0;
        margin-block-end: 5px;
    }
}

