/* extra large devices (extra large desktop and tv)
/*@media only screen and (max-width: 2480px)  {
    main {
        width: 70%;
        margin: auto;
    }
}*/

/* large devices (desktop)
/*@media only screen and (max-width: 1735px) */
/* AJOUTER ACCOLADES DEBUT + FIN SI OK */

/* ---------- body ---------- */
/* polices du site */
body {
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0;
}

@media only screen and (min-width: 1739px) {
    body {
        width: 85%;
        margin: auto;
    }

    #footer_container {
        padding: 0;
        justify-content: center;
    }

    .footer_children {
        width: 20%;
    }
}

/* aspect des liens par defaut */
a {
	text-decoration: none;
	color: black;
}

/* aspect des listes par defaut */
ul {
    list-style: none;
  }
  
/* taille des titres */
h1 {
	font-size: 1.2em;
}

h2 {
	font-size: 1.1em;
}

/* taille autres textes */
h3, p, span, a {
    font-size: 1em;
}

/* ---------- header ---------- */
header {
    width: 90%;
    margin: 20px auto;
}

#navbar1 {
    display: flex;
}

nav {
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav li {
    align-content: center;
}

nav a {
	padding: 30px 30px;
}

nav a:hover, a:active {
  	border-top: medium solid #0065fc;
  	color: #0065fc;
}

#inscription a {
    color: #0065fc;
    font-weight: bold;
    padding: 30px 30px;
    vertical-align: middle;
    text-align: center;
}

#inscription a:hover, a:active {
    border-top: medium solid #0065fc;
}

#navbar2 {
    display: none;
}

/* ---------- main ---------- */
main {
    width: 90%;
    margin: auto;
}

/* ---------- section_1_recherche ----------*/
#searchbar2 {
    display: none;
}

#searchbar1 {
    display: inline-flex;
    align-items: center;
}

.fa-map-marker-alt {
    background-color: #f2f2f2;
    padding: 15px;
    font-size: relative-size;
    border: thin #f2f2f2 solid;
    border-radius: 15px 0 0 15px;
}

/* comment supprimer la marge entre le champ et le bouton ? */
#champ {
    border-color: #f2f2f2;
    font-weight: bold;
}

[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
    border: thin #f2f2f2 solid;
    padding: 15px;
}

#bouton {
     padding: 15px;
     background-color: #0065fc;
     color: white;
     text-align: center;
     border: thin #0065fc solid;
     border-radius: 0 15px 15px 0;
}

#bouton:active {
    background-color: grey;
}

#bouton:hover {
    box-shadow: 0 0 5px grey;
}

#filtres {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

#filtres_titre {
    padding-right: 10px;
    line-height: 10px;
}
#filtres p {
    vertical-align: middle;
    padding-right: 10px;
}

.selection {
    display:flex;
    align-items: center;
    margin-right: 15px;
    padding-right: 15px;
    border: 1px lightgrey solid;
    border-radius: 70px;
    font-weight: bold;
    height: 40px;
}

.selection:hover, :active {
    color: #0065fc;
}

.selection i {
    font-size: 1em;
    color: #0065fc;
    background-color: #deebff;
    border: 1px #deebff solid;
    border-radius: 50%;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    margin-left: -1px;
    margin-right: 7px;
    line-height: 40px;    
}

.selection i:hover, :active {
    background-color: #0065fc;
    color: white;
    border: 1px #0065fc solid;
}

#resultat {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#resultat img {
    width: 30px;
    padding-right: 5px
}

.fa-info-circle {
    color: #0065fc;
    padding-right: 5px;
}

/* ---------- section_2_hebergements ---------- */
#section_hebergements {
    display: flex;
    justify-content: space-between;
}

#resultats_hebergements {
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 25px;
}

#resultats_hebergements h1, h3 {
    padding-left: 25px;
}

#hebergements_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#hebergements_container div {
    width: 230px;
    height: 190px;
    background-color: white;
    border-radius: 25px;
    border: thick white solid;
    box-shadow: 0 0 10px lightgrey;
    margin: 15px 15px 35px;
    padding-block-end: 5px;
}

#hebergements_container div:hover {
    box-shadow: 0 0 10px grey;
}

#hebergements_container div img {
    width: 230px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

#hebergements_container div h2 {
    margin-bottom: 5px;
    padding-left: 10px;
    line-height: 0;
    font-size: 1em;
}

#hebergements_container div p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    line-height: 2;
    font-size: 0.9em;
}

#hebergements_container div i {
    font-size: smaller;
    color: #0065fc;
}

#resultats_populaires {
    width: 40%;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 25px;
    margin-left: 35px;
}

#titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

#populaires_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#populaires_container div {
    width: 350px;
    height: 150px;
    background-color: white;
    border-radius: 25px;
    border: thick white solid;
    box-shadow: 0 0 10px lightgrey;
    margin: 15px;
}

#populaires_container div:hover {
    box-shadow: 0 0 10px grey;
}

#populaires_container div img {
    width: 130px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    float: left;
    margin-right: 10px;
}

#populaires_container div h2 {
    margin-top: 5px;
    font-size: 1em;
}

#populaires_container div p {
    font-size: 0.9em;
    /* pour aligner les icones en bas... */
    /*margin-bottom: 50px;*/
    /*ça marche mais doit varier selon place restante 
    dans le container */
}

/* comment aligner les icones en bas du container ? */
#populaires_container div i {
    font-size: smaller;
    color: #0065fc;
} 

/* ---------- section_3_activites ---------- */
#resultats_activites2 {
    display: none;
}

#resultats_activites1 {
    margin-top: 50px;
}

#activites_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#activites_container div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.suggestion_l, .suggestion_m, .suggestion_s, .suggestion_xs {
    border-radius: 20px;
    box-shadow: 0 0 5px lightgrey;
}

.suggestion_l img , .suggestion_m img, .suggestion_s img, .suggestion_xs img {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.suggestion_l h2, .suggestion_m h2, .suggestion_s h2, .suggestion_xs h2 {
    padding-left: 10px;
    font-size: 1em;
}

.suggestion_l:hover, .suggestion_m:hover, .suggestion_s:hover, .suggestion_xs:hover {
    box-shadow: 0 0 10px grey;
}

.suggestion_l {
    width: 300px;
    height: 435px;
}

.suggestion_l img {
    width: 300px;
    height: 385px;
}

.suggestion_m {
    width: 300px;
    height: 225px;
}

.suggestion_m img {
    width: 300px;
    height: 175px;
}

.suggestion_xs {
    width: 300px;
    height: 175px;
}

.suggestion_xs img {
    width: 300px;
    height: 125px;
}

.suggestion_s {
    width: 300px;
    height: 225px;
}

.suggestion_s img {
    width: 300px;
    height: 175px;
}

/* ---------- footer ---------- */
footer {
    margin-top: 50px;
    /*position fixe ?*/
}

#footer_container {
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding: 30px 40px;
}

#footer_container ul {
    text-align: left;
    padding: 0;
    line-height: 1.6;
}

.footer_children {
    flex-basis: 28%;
    margin: 10px;
}

/* responsive design */
/* large devices (landscape tablets and lap-desktops) */
@media only screen and (max-width: 1440px)  {
    #resultats_activites1 {
        display: none;
    }

    #resultats_activites2 {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #resultats_activites2 h1 {
        padding-left: 100px;
    }

    #activites_container {
        justify-content: space-evenly;
    }

    .suggestion_l, .suggestion_m, .suggestion_s, .suggestion_xs {
        width: 40%;
        height: 250px;
        margin-bottom: 30px;
        background-color: white;
    }

    .suggestion_l img, .suggestion_m img, .suggestion_s img, .suggestion_xs img {
        width: 100%;
        height: 200px;
    }

    footer {
        margin-top: 0;
    }
}

/* responsive design */
/* large devices (landscape tablets and lap-desktops) */
@media only screen and (max-width: 1200px)  {
    main {
        width: 100%;
    }

    #recherche {
        width: 90%;
        margin: auto;
    }

    #section_hebergements {
        flex-direction: column-reverse;
    }

    #resultats_hebergements {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding: 0;
        padding-top: 25px;
        padding-bottom: 25px;
        border-radius: 0;
        background-color: #f2f2f2;
        justify-content: center;
    }

    #resultats_hebergements h1, h3 {
        padding-left: 75px;
    }
    
    #hebergements_container {
        width: 90%;
        margin: auto;
    }
    
    #resultats_populaires {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding: 0;
        padding-top: 25px;
        padding-bottom: 25px;
        border-radius: 0;
        background-color: #0065fc;
        box-shadow: lightgray;
    }

    #titre {
        width: 100%;
        margin: 0;
        justify-content: center;
        color: white;
    }

    #titre i {
    padding-left: 10px;
    color: white;
    }

    #populaires_container {
        justify-content: space-evenly;
        margin-top: 15px;
        margin-bottom: 30px;
    }

    #populaires_container div {
        width: 200px;
        height: 250px;
        box-shadow: 0 0 5px whitesmoke;
    }

    #populaires_container div:hover {
        box-shadow: 0 0 5px white; 
    }

    #populaires_container div img {
    width: 200px;
    height: 170px;
    border-radius: 20px 20px 0 0;
    margin-right: 0;
    margin-bottom: 5px;
    }
    
    .icon {
        padding-left: 5px;
    }

    #populaires_container div h2 {
        margin-bottom:0;
        padding-left: 5px; 
    }

    #populaires_container div p {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 5px;
        line-height: 1,8;    
    }

    #resultats_activites2 h1 {
        padding-left: 75px;
    }

    #footer_container {
        padding: 20px 30px;
        background-color: grey;
    }

    .footer_children h2, .footer_children a {
        color: lightgray;
    }

    .footer_children:nth-of-type(1) {
        flex-basis: 35%;
    }
}

/* medium devices (larger smartphones and portrait tablets) */
@media only screen and (max-width: 768px)  {    
    #searchbar1 {
        display: none;
    }

    #searchbar2 {
        display: inline-flex;
        align-items: center;
    }
    
    #champ {
        width: 60%;
    }

    #filtres {
        flex-wrap: wrap;
        align-content: space-around;
    }
    
    #filtres_titre {
        display: flex;
        width: 100%;
        font-weight: bold;
    }

    .selection {
        margin: 10px 5px;
    }
    
    #titre {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 85%;
        margin: auto;
    }

    /*#resultats_populaires {
        width: 90%;
        margin: auto;
        border-radius: 25px;
        background-color: #f2f2f2;
    }*/

    #titre {
        width: 75%;
    }

    #populaires_container {
        flex-direction: column;
        align-items: center;
    }

    #populaires_container div {
        width: 350px;
        height: 150px;
    }

    #populaires_container div img {
        width: 130px;
        height: 150px;
        border-radius: 20px 0 0 20px;
        float: left;
        margin-right: 10px;
        margin-bottom: 0;  
    }

    #populaires_container div h2 {
        margin-top: 5px;
        font-size: 1em;
    }
    
    #populaires_container div p {
        font-size: 0.9em;
        line-height: 2.5;
    }

    .icon {
        padding: 0;
    }
    
    #footer_container ul {
        line-height: 1.4;
        margin: 0;
    }

    #footer_children h2 {
        margin-block-start: 0;
        margin-block-end: 5px;
    }
}

/* small devices (landcape smartphones and small tablets) */
@media only screen and (max-width: 600px) {
    #navbar1 {
        display: none;
    }

    #navbar2 {
        display: flex;
        flex-wrap: wrap;
    }
    
    #logo_inscription {
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;
        align-items: center;
    }

    #inscription {
        text-align: right;
        font-weight: bold;
        color: #0065fc;
    }
        
    #nav {
        display: flex;
        flex-basis: 100%;
        width: 100%;
        height: 50px;
        align-items: center;
        margin-bottom: 15px;
    }

    #nav a {
        width: 50%;
        text-align: center;
        padding: 15px 0;
    }

    #nav a:hover, a:active {
        border-top: none;
        border-bottom: medium solid #0065fc;
        color: #0065fc;
    }

    #resultats_populaires {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    #resultats_activites2 h1 {
        padding-left: 50px;
    }

    #footer_container {
        font-size: small;
    }
}

/* extra small devices (small smartphones) */
@media only screen and (max-width: 480px) {
    #section_hebergements {
        display: flex;
        flex-direction: column-reverse;
    }

    #resultats_hebergements {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
        padding-top: 10px;
        border-radius: 0;
        background-color: white;
    }

    #titre {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 75%;
        margin: auto;
        color: black;
    }

    #titre i {
        color: black;
    }

    #resultats_populaires {
        background-color: #f2f2f2;
    }

    #populaires_container div {
        width: 75%;
        margin: 10px auto;
        box-shadow: 0 0 10px lightgray;
    }

    #populaires_container div img {
        width: 35%;
    }

    #populaires_container div:hover {
        box-shadow: 0 0 10px grey;
    }
        
    #resultats_hebergements h1, h3 {
        text-align: left;
        padding-left: 40px;
    }

    #hebergements_container div {
        width: 85%;
        margin: 10px auto;
    }

    #hebergements_container div img {
        width: 100%;
    }
    
    #resultats_activites2 {
        background-color: white;
    }

    #resultats_activites2 h1 {
        text-align: left;
        padding-left: 40px;
        color: black;
    }

    #footer_container {
    display: block;
    background-color: #f2f2f2;
    font-size: medium;
    }

    .footer_children h2, .footer_children a {
        color: black;
    }

    .suggestion_l, .suggestion_m, .suggestion_s, .suggestion_xs {
        width: 85%;
        border: none;
    }
}