/* ---------- body ---------- */
/* polices du site */
body {
    font-family: 'Raleway', Arial, sans-serif;
    margin-top: 0;
}

/* aspect des liens par defaut */
a {
	text-decoration: none;
	color: black;
	font-size: 0.7em;
}

/* taille des titres */
h1 {
	font-size: 0.9em;
}

h2 {
	font-size: 0.8em;
}

h3 {
    font-size: 0.7em;
}

/* taille du corps de texte */
p {
	font-size: 0.7em;
}

/* ---------- main ---------- */
main {
    width: 90%;
    margin: auto;
}

/* ---------- header ---------- */
header {
    width: 90%;
    margin: auto;
}

#navbar {
    display: flex;
    justify-content: space-between;
}

#logo {
    align-self: flex-end;
}

#inscription {
margin-left: 0;
}

nav {
    flex-basis: 90%;
}

ul {
  list-style: none;
}

nav ul {
    display: flex;
    float: right;
}

nav li {
    align-content: center;
}

nav a {
	padding: 20px 30px;
}

nav a:hover, a:active {
  	border-top: solid #0065fc;
  	color: #0065fc;
}

/* ---------- section_1_recherche ----------*/
#searchbar {
    display: inline-flex;
    width: 600px;
    position: relative;
    align-items: center;
}

.fa-map-marker-alt {
    background-color: #f2f2f2;
    padding: 15px;
    font-size: x-small;
    border: thin #f2f2f2 solid;
    border-radius: 15px 0 0 15px;
}

#champ {
    border-color: #f2f2f2;
}

[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    border: thin #f2f2f2 solid;
    padding: 15px;
    margin-left: 0;
}

/* comment supprimer la marge entre le champ et le bouton ? */
#bouton {
     margin-left: 0;
     padding: 15px;
     background-color: #0065fc;
     color: white;
     text-align: center;
     border: thin #0065fc solid;
     border-radius: 0 15px 15px 0;
}

#bouton:active {
    background-color: grey;
}

#bouton:hover {
    box-shadow: 0 0 5px grey;
}

#resultat {
    display: flex;
    align-items: center;
}

#filtres {
    display: flex;
    margin-top: 50px;
    margin-bottom: 25px;
}

#filtres_titre {
    padding-right: 10px;
    line-height: 10px;
}
#filtres p {
    vertical-align: middle;
    padding-right: 10px;
}

.selection {
    display:flex;
    align-items: center;
    margin-right: 15px;
    padding-right: 15px;
    border: 1px lightgrey solid;
    border-radius: 50px;
    font-weight: bold;
    height: 40px;
}

.selection:hover, :active {
    background-color: #deebff;
    box-shadow: 5 5 lightgrey;
}

.selection i {
    font-size: xx-small;
    color: #0065fc;
    background-color: #deebff;
    border: 2px #deebff solid;
    border-radius: 50%;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    margin-right: 7px;
    line-height: 40px;    
}

.selection i:hover, :active {
    background-color: #0065fc;
    color: #deebff;
}

.fa-info-circle {
    color: #0065fc;
    font-size: small;
    padding-right: 5px;
}

/* ---------- section_2_hebergements ---------- */
#hebergements {
    display: flex;
    justify-content: space-between;
}
#resultats_hebergements {
    width: 62%;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#resultats_hebergements h1, h3 {
    padding-left: 25px;
}

#hebergements_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hebergement_card {
    width: 230px;
    height: 172px;
    background-color: white;
    border-radius: 25px;
    border: thick white solid;
    box-shadow: 0 0 10px lightgrey;
    margin: 15px;
}

.hebergement_card:hover {
    box-shadow: 0 0 10px grey;
}

.hebergement_card img {
    width: 230px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.descriptif_h {
    line-height: 0.5;
    padding: 0 0 15px 5px;
}
#resultats_populaires {
    width: 25%;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 25px;
    justify-content: center;
}

#resultats_populaires h1 {
    padding-left: 25px;
}

.fa-chart-line {
    float: right;
    padding-right:25px;    
}

#populaires_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.populaire_card {
    position: relative;
    width: 280px;
    height: 120px;
    background-color: white;
    border-radius: 25px;
    border: thick white solid;
    box-shadow: 0 0 10px lightgrey;
    margin-top: 15px;
    margin-bottom: 15px;
}

.populaire_card:hover {
    box-shadow: 0 0 10px grey;
}

.populaire_card img {
    width: 110px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    float: left;
}

.descriptif_p {
    margin-left: 110px;
    padding-left: 10px;
}

.populaire_icons {
    position: absolute;
    top: 90px;
    left: 120px;
}

.hebergement_card i, .populaire_card i {
    font-size: smaller;
    color: #0065fc;
}

/* ---------- section_3_activites ---------- */
#resultats_activites {
    margin: 50px;
}

#activites_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.suggestion {
    width: 300px;
    height: fit-content;
    overflow: auto;
    border-radius: 20px;
    box-shadow: 0 0 5px lightgrey;
    padding-bottom: 5px;
}

.suggestion h2 {
    margin-left: 10px;
}

.suggestion:hover {
    box-shadow: 0 0 10px grey;
}

.suggestion img {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

/* ---------- footer ---------- */
footer {
    background-color: #f2f2f2;
    padding: 30px 30px 40px;
    margin-top: 50px;
    /*position fixe ? */
}

#footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer_children {
    flex-basis: 30%;
}

#footer_container ul {
	text-align: left;
	margin: 0;
    padding: 0;
}